body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
.clear-btn{
    margin-left: 90%;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.navbar-item {
    color: black;
    padding: 10px;
    font-size: 16px;
}

.navbar-item:hover {
    color: white;
    padding: 10px;
    font-size: 18px;
}

ol li {
  counter-increment: list;
  list-style-type: none;
  position: relative;
}

ol li:before {
  color: #e75204;
  content: counter(list) ".";
  left:-32px;
  position: absolute;
  text-align: right;
  width: 26px;
}

.clear-btn {

    float: right;
    margin-right: 3rem;
}

.badge-pill {
    padding: 23px 50px;
    font-size: 40px;
}
.card-title{
    color: #17a2b8;
}